extends layout

block content
  .card.border-danger
    img.card-img(src="/images/banner.jpg", alt="Ancient Books")
    .card-body
      h4.headfonts BOOKS ARE INSAPERABLE PART OF HUMAN LIFE! 
        blockquote 
          p.parafonts.text-danger "A writer only begins a book. A reader finishes it."
          p.parafonts.text-danger   Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque perferendis quisquam ipsum quia consequuntur odit delectus culpa. Tempora dicta, cumque placeat, eum asperiores doloremque ipsam rem libero a commodi voluptatum. 
 
      
      